.addTaskBtn {
  position: absolute;
  bottom: 5%;
  right: 10%;
  padding: 0.5rem;
  border: none;
  border-radius: 50%;
  background-color: blueviolet;
  color: white;
  font-size: larger;
  width: 48px;
  height: 48px;
  transition-duration: 0.5s;
  z-index: 1000;
}
.addTaskBtn:hover {
  cursor: pointer;
  opacity: 0.5;
}
.addTaskBtn:focus {
  outline: none;
}
